// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
    resize: none;
}

.description-well {
    padding: 10px;
    padding-bottom: 30px;
    margin: 0px;
    background-color: #fff;
}

.padding-2 {
    padding: 2px
}

.item-heading {
    background-color: #fcfcfc;
    font-weight: bold;
    padding: 5px 8px;
}