- title 'Adverts'

.page-header
  %h3
    = "Adverts"

.row
  .col-sm-3
    = nested_categories_tree_plain(@categories)
    %p
      = link_to 'Add advert', new_advert_path
  .col-sm-9
    - @adverts.each do |advert|
      %p
        = link_to advert.title, advert
