- title @selected_category.name

.page-header
  %h2
    = @selected_category.name

.row
  .col-sm-3
    .panel.panel-default
      .panel-heading.item-heading{style: 'background-color: #E3ECF3'}
        Categories
      .panel-body
        = build_side_bar(@category_tree, @selected_category.id)

  = render 'adverts_table'