- title 'Adverts'

.page-header
  %h2
    = "Adverts"

.row
  .col-sm-3
    .panel.panel-default
      .panel-heading.item-heading{style: 'background-color: #E3ECF3'}
        Categories
      .panel-body
        = build_side_bar(@category_tree)

  = render 'adverts_table'