- title 'Uploads'

.page-header
  %h2
    = 'Uploads'

- @uploads.each do |upload|
  %p
    = link_to image_tag(upload.image.url(:thumb)), upload

= link_to 'Add Upload', new_upload_path, {class: 'btn btn-success'}