// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
    resize: none;
}

.description-well {
    padding: 10px;
    padding-bottom: 30px;
    margin: 0px;
    background-color: #fff;
}

.no-margin {
    margin: 0px;
}

.padding-2 {
    padding: 2px;
}

.padding-5 {
    padding: 5px;
}

.item-heading {
    background-color: #E3ECF3;
    padding: 5px 8px;
}

.panel-heading-sm {
    padding: 3px 10px;
}

.paragraph-heading {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 4px;
    background-color: #F6FCFF;
    border-bottom: 1px solid #dddddd;
}

.missing-images-text {
    font-size: 11px;
    font-style: italic;
    color: #555;
    text-align: center;
    vertical-align: middle;
}

.advert-field {
    margin: 5px;

    .input-group-addon {
        background-color: #F6FCFF;
        border-color: #ddd;
    }

    .form-control {
        border-color: #ddd;
    }
}

ul.sidebar-categories {
    padding-left: 18px;
    margin-bottom: 0px;

    ul {
        padding-left: 25px;
    }
}
