// Place all the styles related to the Adverts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
    resize: none;
}

.description-well {
    padding: 10px;
    padding-bottom: 30px;
    margin: 0px;
    background-color: #fff;
}

.no-margin {
    margin: 0px;
}

.padding-2 {
    padding: 2px;
}

.padding-5 {
    padding: 5px;
}

.item-heading {
    background-color: #E3ECF3;
    font-weight: bold;
    padding: 5px 8px;
}

.panel-heading-sm {
    padding: 3px 10px;
}

.missing-images-text {
    font-size: 11px;
    font-style: italic;
    color: #555;
    text-align: center;
    vertical-align: middle;
}

.advert-field {
    margin: 5px;
}

.advert-field .input-group-addon {
    background-color: #F6FCFF;
    border-color: #ddd;
}

.advert-field .form-control {
    border-color: #ddd;
}