/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require font-awesome
 *= require_tree .
 */

$footer-height: 60px;

html, body {
  height: 100%
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-$footer-height);
  padding: 0 0 $footer-height;
}

#footer {
  height: $footer-height;
  background-color: #f8f8f8;

  p {
    color: #888;
    margin-top: 20px;
  }
}

#wrap > .container {
  padding-top: $footer-height;
}

#content-wrap {
  padding: 10px 0px;
}

.page-header {
    margin-top: 10px;
}

.better-select-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

    background: transparent url(image_path('br_down.png')) no-repeat right center;
}

.better-select-box:hover {
    background: transparent url(image_path('br_down_hover.png')) no-repeat right center;
}

.better-select-box:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.navbar-form.custom-form-sm {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-input-group {
  @media (min-width: 768px) {
    font-size: 0px; /*removes whitespace between button and input*/

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .btn {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 0px;
    }
  }
  @media (max-width: 767px) {
    margin-top:0px;
    margin-bottom:0px;

    .btn {
      width:100%;
    }
  }
}

.navbar-button-li {
  @media (max-width: 767px) {
    margin-top:0px;
    margin-bottom:0px;

    padding-left: 15px;
    padding-right: 15px;

    .btn {
      width:100%;
    }
  }
}

.img-bordered {
  padding: 1px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}