- title 'Image'

.page-header
  %h2
    = 'Image'

- unless @upload.description.nil? or @upload.description.empty?
  %p.text-center
    = @upload.description

%p.text-center
  = image_tag @upload.image.url(:original), class: 'img-rounded'