- flash.each do |name, msg|
  %div{:class => "alert alert-dismissable alert-#{(name == :notice) ? 'success' : 'danger'}"}
    %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'}
      &times;
    = msg